.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile {
  margin: 0 auto;
}

.card {
  margin-left: 50px;
  margin-top: 50px;
  padding: 1.5rem;
  display: flex;
  border: solid black;
  flex-direction: column;
  align-items: center;
  max-width: 45vh;
}

.name {
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
}

.profileimage {
  max-width: 100%;
  height: auto;
}
.data {
  display: block;
}

.skillsList {
  display: block;
  width: 100%;
}

.skills {
  display: inline-block;
  border-radius: 7px;
  font-size: 15px;
  padding: 4px 10px;
  margin: 5px 5px;
}
